@import url("colors.css");

* {
    border-radius: 0;
}

window#waybar {
    background-color: @window_bg_color;
    color: @window_fg_color;
    min-height: 0;
    font-family: "GoMono Nerd Font";
    font-size: 16px;
}

.module {
    margin: 4px 0;
}
