/* import color sheet */
@import url("colors.css");
/* declare bar wide stuff */
window#waybar {
    background-color: @window_bg_color;
}

* {
    border-radius: 0;
    min-height: 0;
    font-family: "GoMono Nerd Font";
    font-size: 13px;
}

/* module coloring */

.module {
    color: @window_fg_color;
	background-color: transparent;
}

/* workspaces */

#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
}

#workspaces button.empty {
    opacity: 0.5;
}

/* other module stuff */
#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio {
    min-width: 12px;
    margin: 0 7.5px;
}
tooltip {
    background: @window_bg_color;
}

