@import url(".config/wofi/colors.css");

* {
	border-radius: 0px;
}

window {
    margin: 8px;
    background-color: @window_bg_color;
    font-family: GoMono Nerd Font;
    border: 1px solid alpha(@window_fg_color, 0.5);
}

#input {
    margin: 5px;
    color: @window_fg_color;
    background-color: @window_bg_color;
    border: 1px solid alpha(@window_fg_color, 0.5);
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: @window_bg_color;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: @window_bg_color;
}

#text {
    margin: 5px;
    border: none;
    color: @window_fg_color;
}

#entry:selected {
    background-color: transparent;
    box-shadow: 14px 2px 13px -20px alpha(@window_fg_color, 0.7) inset;
    border-left: 1px solid @window_fg_color;
    outline: none;
        transition: all 300ms ease;
}

#input:focus {
    box-shadow: 14px 2px 13px -20px alpha(@fullscreen_color, 0.7) inset;
    border-left: 1px solid @fullscreen_color;
}
